/* --------- */
/* Home section */
/* --------- */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800,900|Poppins:300,400,500,600,700,700i&display=swap);
.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  #tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
  }
  
  .home-header {
    padding-top: 80px !important;
  }
  
  .home-section {
    position: relative;

    padding-bottom: 30px !important;
    padding-top: 30px !important;
  }
  
  .home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
  }
  .back{
    z-index: -1;
  }
  .heading {
    color:rgba(198,201,216,.75);
    font-family: "Poppins",sans-serif !important;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 2.4em !important;
    padding-left: 50px !important;
  }
  
  .heading-name {
    font-family:"Montserrat",sans-serif !important;
    color: white;
    font-weight: 900 !important;
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    color: #cd5ff8;
  }
  
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #be6adf !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #b562d6 !important;
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }
  
  .myAvtar {
    justify-content: center !important;
    padding-top: 9em !important;
  }
  
  @media (max-width: 767px) {
    .myAvtar {
      padding-top: 2em !important;
      padding-bottom: 2em !important;
    }
  }
  
  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }
  
  .home-about-description {
    color: white !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }
  
  .home-about-body {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
  }
  
  .home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
  }
  
  .home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  
  .home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #68187a;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #801f95;
  }
  
  .home-social-icons:hover {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
  }
  
  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-colour {
    color: #700c86 !important;
  }
  
  .name-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
 }
  .glitch, .glow {
    color: #dfbfbf;
    position: relative;
    font-size: 8vw;
    animation: glitch 5s 5s infinite;
 }
  .glitch::before, .glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    background: #2d1950;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
 }
  .glitch::after, .glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    background: #1c0f31;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
 }
  @keyframes glitch {
    1% {
      transform: rotateX(10deg) skewX(90deg);
   }
    2% {
      transform: rotateX(0deg) skewX(0deg);
   }
 }
  @keyframes noise-1 {
    3.3333333333% {
      clip-path: inset(10px 0 91px 0);
   }
    6.6666666667% {
      clip-path: inset(26px 0 46px 0);
   }
    10% {
      clip-path: inset(72px 0 12px 0);
   }
    13.3333333333% {
      clip-path: inset(34px 0 59px 0);
   }
    16.6666666667% {
      clip-path: inset(45px 0 34px 0);
   }
    20% {
      clip-path: inset(88px 0 12px 0);
   }
    23.3333333333% {
      clip-path: inset(63px 0 3px 0);
   }
    26.6666666667% {
      clip-path: inset(52px 0 23px 0);
   }
    30% {
      clip-path: inset(21px 0 24px 0);
   }
    33.3333333333% {
      clip-path: inset(65px 0 31px 0);
   }
    36.6666666667% {
      clip-path: inset(3px 0 25px 0);
   }
    40% {
      clip-path: inset(76px 0 24px 0);
   }
    43.3333333333% {
      clip-path: inset(65px 0 26px 0);
   }
    46.6666666667% {
      clip-path: inset(25px 0 56px 0);
   }
    50% {
      clip-path: inset(66px 0 28px 0);
   }
    53.3333333333% {
      clip-path: inset(73px 0 28px 0);
   }
    56.6666666667% {
      clip-path: inset(32px 0 54px 0);
   }
    60% {
      clip-path: inset(37px 0 28px 0);
   }
    63.3333333333% {
      clip-path: inset(79px 0 19px 0);
   }
    66.6666666667% {
      clip-path: inset(86px 0 8px 0);
   }
    70% {
      clip-path: inset(23px 0 52px 0);
   }
    73.3333333333% {
      clip-path: inset(23px 0 75px 0);
   }
    76.6666666667% {
      clip-path: inset(45px 0 2px 0);
   }
    80% {
      clip-path: inset(98px 0 3px 0);
   }
    83.3333333333% {
      clip-path: inset(93px 0 5px 0);
   }
    86.6666666667% {
      clip-path: inset(15px 0 64px 0);
   }
    90% {
      clip-path: inset(5px 0 75px 0);
   }
    93.3333333333% {
      clip-path: inset(91px 0 2px 0);
   }
    96.6666666667% {
      clip-path: inset(28px 0 27px 0);
   }
    100% {
      clip-path: inset(62px 0 15px 0);
   }
 }
  @keyframes noise-2 {
    0% {
      clip-path: inset(88px 0 1px 0);
   }
    3.3333333333% {
      clip-path: inset(8px 0 57px 0);
   }
    6.6666666667% {
      clip-path: inset(27px 0 32px 0);
   }
    10% {
      clip-path: inset(5px 0 41px 0);
   }
    13.3333333333% {
      clip-path: inset(95px 0 5px 0);
   }
    16.6666666667% {
      clip-path: inset(42px 0 2px 0);
   }
    20% {
      clip-path: inset(79px 0 14px 0);
   }
    23.3333333333% {
      clip-path: inset(4px 0 65px 0);
   }
    26.6666666667% {
      clip-path: inset(83px 0 9px 0);
   }
    30% {
      clip-path: inset(51px 0 30px 0);
   }
    33.3333333333% {
      clip-path: inset(49px 0 42px 0);
   }
    36.6666666667% {
      clip-path: inset(75px 0 22px 0);
   }
    40% {
      clip-path: inset(48px 0 30px 0);
   }
    43.3333333333% {
      clip-path: inset(73px 0 2px 0);
   }
    46.6666666667% {
      clip-path: inset(35px 0 12px 0);
   }
    50% {
      clip-path: inset(18px 0 41px 0);
   }
    53.3333333333% {
      clip-path: inset(99px 0 2px 0);
   }
    56.6666666667% {
      clip-path: inset(75px 0 14px 0);
   }
    60% {
      clip-path: inset(14px 0 16px 0);
   }
    63.3333333333% {
      clip-path: inset(39px 0 47px 0);
   }
    66.6666666667% {
      clip-path: inset(18px 0 70px 0);
   }
    70% {
      clip-path: inset(64px 0 6px 0);
   }
    73.3333333333% {
      clip-path: inset(89px 0 8px 0);
   }
    76.6666666667% {
      clip-path: inset(69px 0 20px 0);
   }
    80% {
      clip-path: inset(72px 0 6px 0);
   }
    83.3333333333% {
      clip-path: inset(95px 0 1px 0);
   }
    86.6666666667% {
      clip-path: inset(61px 0 20px 0);
   }
    90% {
      clip-path: inset(38px 0 27px 0);
   }
    93.3333333333% {
      clip-path: inset(20px 0 33px 0);
   }
    96.6666666667% {
      clip-path: inset(69px 0 24px 0);
   }
    100% {
      clip-path: inset(69px 0 29px 0);
   }
 }
  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
 }
  .scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
    animation: fudge 7s ease-in-out alternate infinite;
 }
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
   }
    to {
      transform: translate(0px, 2%);
   }
 }
  .glow {
    text-shadow: 0 0 1000px #dfbfbf;
    color: transparent;
    position: absolute;
    top: 0;
 }
  .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 0.8vw;
    color: rgba(165, 141, 141, .4);
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;
    position: absolute;
    left: 17%;
    animation: glitch-2 5s 5.02s infinite;
 }
  @keyframes glitch-2 {
    1% {
      transform: rotateX(10deg) skewX(70deg);
   }
    2% {
      transform: rotateX(0deg) skewX(0deg);
   }
 }
  